.cards-conteiner{
    border-radius: 10px;
    border: 1px solid black;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div div{
    display: flex;
    flex-direction: row;
    gap: 1px;
}

div:nth-child(even){
    background-color: rgba(226,226,226,255);
}

div:nth-child(odd){
    background-color: rgba(166,204,217,255);
} 


div:nth-child(3n){
    background-color: rgba(157,194,206,255);
}